$red: #cc0d00;
// $bg: #181818;
// $headerColor: #202020;
$inputColor: rgb(73, 40, 40);
$btnColor: rgb(122, 43, 43);
$bg: rgb(48, 28, 28);
$headerColor: rgb(37, 21, 21);
$fontColor: rgb(214, 179, 179);
