.edit-profile__form {
  label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
  }
  #editProfileBtn {
    margin-top: 20px;
    color: black;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
