.search__form {
  all: unset;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  .search__form-input {
    all: unset;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    font-size: 16px;
    color: white;
  }
  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    cursor: pointer;
  }
}
@media (max-width: 1500px) {
  .search__form {
    width: 500px !important;
  }
}
@media (min-width: 1500px) {
  .search__form {
    width: 900px !important;
    margin-left: 50px;
  }
}
