.cursor__pointer {
  cursor: pointer;
}
#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  .videoControls {
    color: white;
    .videoControls__timeline {
      margin-bottom: 5px;
    }
    &.showing {
      opacity: 1;
    }
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .videoControls__Btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .videoControls__Btns--box {
        display: flex;
        align-items: center;
        .videoControls__play {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .videoControls__playBtn {
            margin: 0px 15px;
          }
        }
        .videoControls__volume {
          display: flex;
          align-items: center;
          span {
            margin: 0 10px;
            i {
              font-size: 20px;
            }
          }
          input {
            margin-right: 10px;
            width: 0px;
            opacity: 0;
            transition: width 0.5s ease-out, opacity 0.2s;
          }
          &:hover {
            input {
              width: 120px;
              opacity: 1;
            }
          }
        }
        .videoControls__time {
          font-size: 12px;
        }
      }
      .videoControls__Btns--fullScreen {
        margin-right: 10px;
      }
    }
  }
}
