extends base

block content 
    if errorMessage
        small=errorMessage
    form(method="POST")
        span Current Password
        input(name="currentPassword" type="password" placeholder="Current Password" required)
        span New Password
        input(name="newPassword" type="password" placeholder="New Password" required)
        span New Password Confirmation
        input(name="newPassword2" type="password" placeholder="New Password Confirmation" required)
        input(type="submit" value="Update Password")